<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004755335710-a6j00k9jq7b8eh3ss7fca5fmpg8dbvb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004755335710-a6j00k9jq7b8eh3ss7fca5fmpg8dbvb4</string>
	<key>API_KEY</key>
	<string>AIzaSyCedbV5eMXA10OwL92Br75Amq8--QIsVKg</string>
	<key>GCM_SENDER_ID</key>
	<string>1004755335710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastianmurgu.Chatee</string>
	<key>PROJECT_ID</key>
	<string>chateeios-b3aef</string>
	<key>STORAGE_BUCKET</key>
	<string>chateeios-b3aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004755335710:ios:fef13e888f3a4faf1f8c0f</string>
	<key>DATABASE_URL</key>
	<string>https://chateeios-b3aef.firebaseio.com</string>
</dict>
</plist>